body {
 /* background-image: url('background.png'); */
 background-color: rgb(236, 236, 236);
 background-size:1553px auto;
 background-position-y: 100px;
 /* margin-top: 100px; */
}
.background p {
  position: relative;
  text-align: center;
  bottom: -35px;
  font-size: 200%;
}

.text1 {
  padding-top: 80px;
  padding-left: 15px;
}
.background {
  background-color: #20331d;
  border-radius: 0px;
  color: #ffffff;
  height: 90px;
  padding: 10px 60px;
  position:relative;
  bottom: -100px;
  position: relative;
  bottom: -90px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 15px;
  width: 90%;
  position:relative; top: 100px;
}
.background1 {
  
  background-color: #006242;
  border-radius: 0px;
  height: 420px;
  padding: 10px 60px;
  position:relative;
  bottom: -100px;
  position: relative;
  bottom: -70px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 15px;
  width: 90%;
  box-shadow: 10px 10px 10px rgba(61, 105, 16, 0.5);
}
.displayed1 {
  display: block;
  margin-right: auto;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 620px;
  height: 420px;
}

.displayed2 {
  display: block;
  margin-left: auto;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 620px;
  height: 420px;
} 

.displayed3 {
  display: block;
  margin-right: auto;
  position: absolute;
  top: 0px;
  width: 620px;
  height: 420px;
}

.displayed4 {
  display: block;
  margin-left: auto;
  position: absolute;
  top: 0%;
  right: 0%;
  width: 620px;
  height: 420px;
}
.background1 h2 {
  color:#fff;
  margin-left: 62%;
  margin-bottom: 30px;
  padding: 0 15px;
  width: 30%;
  overflow: hidden;
  position: relative;
  bottom: -70px;

}

.background1 p {
  font-size: 1.3em;
  color:#fff;
  margin: 0 auto;
  margin-left: 55%;
  margin-bottom: 15%;
  padding: 0 15px;
  width: 40%;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  bottom: -70px;
  overflow: hidden;
  text-align: center
}

.background2 {
  background-color:  rgb(228, 228, 228);
  border-radius: 0px;
  height: 422px;
  padding: 10px 60px;
  position:relative;
  bottom: -100px;
  position: relative;
  bottom: -70px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 15px;
  width: 90%;
  box-shadow: 10px 10px 10px rgba(61, 105, 16, 0.5);
}

.background2 h2 {
  color:#006242;
  margin: 0 auto;
  margin-left: -20%;
  margin-bottom: 30px;
  padding: 0 15px;
  width: 95%;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  bottom: -70px;
  overflow: hidden;
  text-align: center
}

.background2 p {
  font-size: 1.3em;
  color:#006242;
  margin: 0 auto;
  margin-left: 7%;
  margin-bottom: 15%;
  padding: 0 15px;
  width: 40%;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  bottom: -70px;
  overflow: hidden;
  text-align: center
}

.log1{
  width: 27%;
  bottom: -100px;
}

.text11 {
  background-color: rgb(161, 77, 77);
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0 15px;
  width: 95%;
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  bottom: -70px;
  overflow: hidden;
  
}
.text {
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "Sodo Sans";
  font-size: 1.3em;
  
  padding-right: 20px;
}

*{
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  position: absolute;
  width: 100%;
  height: 99px;
  background:#ffffff;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20%;
}
.header .logo{
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  
  
}
.header ul {
  position: relative;
}
.header ul li{
  position: relative;
  float: left;
}
.header ul li a{
  color: #000000;
  font-size: 17px;
  padding: 35px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  transition: 0,3s;
}
.header ul li a:hover{
  background: #c9bbbb;
}
.header ul li:hover > a i{ 
  transition: 0,3s;
  transform: rotate(-180deg);
  
}
.header ul li ul{
  position: absolute;
  left: 0;
  width: 200px;
  background: #ffffff;
  display: none;
  z-index: 9999;
}

.header ul li:hover > ul{
  display: block;
}
.header ul li ul li{
  position: relative;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.2);
}
.header ul li ul li a i{
  transform: rotate(-90deg);
}

.header ul li ul li ul{
  top: 0;
  left: 200px;
}

/* @media (max-width: 950px) {
  .header {
    padding: 30px 20px;
  }
  .header .nav{
    position: relative;
    width: 100%;
    top: 60px;
    left: 0;
    background: #282828;
    display: none;
  }

  .header .nav ul li{
    width: 100%;
  }
  .header .nav ul li ul{
    position: relative;
    width: 100%;
    left: 0;

  }
  .header .nav ul li:hover ul li{
    background: #373737;
    
  }
  .header ul li ul li a i{
    transform: rotate(0deg);
  }
  .header .toggleBtn{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 0, 0);
  }
  .header .toggleBtn::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 10px #fff;
  }
  .header .toggleBtn::after{
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    background: #fff;
    transform: translateY(10px);
  } */

/* ПОДВАЛ FOOTER */

.podval {
  background-color: #d8d8d8;
  border-radius: 0px;
  height: 270px;
  padding: 10px 60px;
  position:relative;
  margin: 0 auto;
  margin-top: 100%;
  width: 100%;
}

.footnuv1 {
  /* margin-left: 10%; */
  text-align: center;
}

.footnuv2 {
  /* margin-left: 45%; */
  text-align: center;
  top:10px
}

.footnuv3 {
  /* margin-left: 75%; */
  text-align: center
}




    /* СТРАНИЦА "АКЦИИ"! */


.background01 {
  background-color: #006242;
  border-radius: 30px;
  height: 420px;
  padding: 10px 60px;
  position:relative;
  bottom: -80px;
  left: -25%;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 45%;
  box-shadow: 10px 10px 10px rgba(61, 105, 16, 0.5);
  border-width: 6px;
  border-style: solid;
  border-color: #6fa17e;
}

.promstart {
  color: #32462f;
  text-align: left;
  font-size: 3em;
  margin-left: 10%;
  margin-top: 150px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.background02 {
  background-color: #006242;
  border-radius: 30px;
  height: 420px;
  padding: 10px 60px;
  position:relative;
  top: -370px;
  left: 25%;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 45%;
  box-shadow: 10px 10px 10px rgba(61, 105, 16, 0.5);
  border-width: 6px;
  border-style: solid;
  border-color: #6fa17e;
}

.promocof1 {
  mix-blend-mode:normal;
  display: block;
  margin-right: auto;
  position:relative;
  top: 0%;
  left: -10%;
  width: 650px;
  height: 370px;
}

.background01 {
  padding: 10px 60px;
  position:relative;
  font-size: 17px;

}


.background01 p{
  color: #FFF;
  line-height:1.4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background01 h2 {
  color: #FFF;
  line-height:2;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background01 h4 {
  color: #FFF;
  line-height:2;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top:9px;
  margin-bottom: 9px;
  margin-left: 210px;
}

.background01 ul li{
  color:#FFF;
  margin-bottom: -2%;
}

.background045 {
  background-color: #006242;
  border-radius: 0px;
  height: 420px;
  padding: 10px 60px;
  position:relative;
  margin-top: 30px;
  top: -50px;
  margin-bottom: 30px;
  width: 100%;
}

.background046 {
  background-color: #f0f5f3;
  border-radius: 30px;
  height: 350px;
  padding: 10px 60px;
  position:relative;
  top: 0px;
  left: 25%;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 45%;
  box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
  border-width: 6px;
  border-style: solid;
  border-color: #bdc5c0;
}

.background047 {
  background-color: #f0f5f3;
  border-radius: 30px;
  height: 350px;
  padding: 10px 60px;
  position:relative;
  bottom: 380px;
  left: -25%;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 45%;
  box-shadow: 10px 10px 10px rgba(26, 39, 11, 0.5);
  border-width: 6px;
  border-style: solid;
  border-color:#bdc5c0;
}

footer ul li a:hover{
  color:blue;
}

.background046 h2{
  margin-bottom: 10px;
  margin-left: 60px;
}

.background046 h4{
  margin-bottom: 10px;
}

.background046 p{
  line-height:1.15;
  color:rgb(5, 54, 66);
}

.background046 ul li{
  line-height:1.2;
}

.background047 img{
  width: 650px;
  height: 350px;
  top:-20px;
  left: -20%;
}

.background048 {
  background-color: #d8d8d8;
  border-radius: 0px;
  height: 420px;
  padding: 10px 60px;
  position:relative;
  margin-top: 30px;
  margin-bottom: -100%;
  width: 100%;
}

.Q {
  margin-top: -10%;
}

.q {
  margin-bottom: 10%;
}

/* МЕНЮ! */

.background10 {
  background-color: rgb(236, 236, 236);
  border-radius: 0px;
  color: #000000;
  height: 200px;
  padding: 10px 60px;
  position:relative;
  bottom: -90px;
  position: relative;
  bottom: -90px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 15px;
  width: 90%;
  position:relative; top: 100px;
}

.background10text {
    color: #32462f;
  text-align: left;
  font-size: 2em;
  margin-left: 10%;
  margin-top: 150px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.menucup1 {
  margin-right: auto;
  position: absolute;
  left: 120px;
  width: 170px;
    box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
}

.menutext1 p{
  text-align: center; 
  margin-left: -980px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

.menucup2 {
  margin-right: auto;
  position: absolute;
  left: 420px;
  width: 170px;
  box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
}

.menucup3 {
  margin-right: auto;
  position: absolute;
  left: 720px;
  width: 170px;
  box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
}

.menucup4 {
  margin-right: auto;
  position: absolute;
  left: 1020px;
  width: 170px;
  box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
}



/* ПОДВАЛ FOOTER MENU*/

.podvalmenu {
  background-color: #d8d8d8;
  border-radius: 0px;
  height: 270px;
  padding: 10px 60px;
  position:relative;
  margin: 0 auto;
  margin-top: 20%;
  width: 100%;
}

.footnuv1 {
  text-align: center;
}

.footnuv2 {
  text-align: center;
  top:10px
}

.footnuv3 {
  text-align: center
}

/* ПОДАРОЧНЫЕ КАРТЫ! */
.gift1 {
  background-color: rgb(236, 236, 236);
  border-radius: 0px;
  color: #000000;
  height: 200px;
  padding: 10px 60px;
  position:relative;
  bottom: -90px;
  position: relative;
  bottom: -90px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 15px;
  width: 90%;
  position:relative; top: 100px;
}

.menucup11 {
  margin-right: auto;
  position: absolute;
  left: 120px;
  width: 250px;
  box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
  transition: 0,9s;
}

.menucup22 {
  margin-right: auto;
  position: absolute;
  left: 420px;
  width: 250px;
  box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
}

.menucup33 {
  margin-right: auto;
  position: absolute;
  left: 720px;
  width: 250px;
  box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
}

.menucup44 {
  margin-right: auto;
  position: absolute;
  left: 1020px;
  width: 250px;
  box-shadow: 10px 10px 10px  rgba(26, 39, 11, 0.5);
}

.menucup11:hover {
  margin-right: auto;
  position: absolute;
  left: 100px;
  width: 290px;
  box-shadow: 10px 10px 10px  rgba(23, 134, 138, 0.5);
  transition: 0,9s;
}

.menucup22:hover {
  margin-right: auto;
  position: absolute;
  left: 400px;
  width: 290px;
  box-shadow: 10px 10px 10px  rgba(126, 20, 6, 0.5);
}

.menucup33:hover {
  margin-right: auto;
  position: absolute;
  left: 700px;
  width: 290px;
  box-shadow: 10px 10px 10px  rgba(36, 146, 9, 0.5);
}

.menucup44:hover {
  margin-right: auto;
  position: absolute;
  left: 1000px;
  width: 290px;
  box-shadow: 10px 10px 10px  rgba(206, 76, 188, 0.5);
}

.menucup1:hover {
  margin-right: auto;
  position: absolute;
  left: 100px;
  width: 200px;
    box-shadow: 10px 10px 10px  rgba(12, 73, 17, 0.5);
}

.menucup2:hover {
  margin-right: auto;
  position: absolute;
  left: 400px;
  width: 200px;
  box-shadow: 10px 10px 10px  rgba(12, 73, 17, 0.5);
}

.menucup3:hover {
  margin-right: auto;
  position: absolute;
  left: 700px;
  width: 200px;
  box-shadow: 10px 10px 10px  rgba(12, 73, 17, 0.5);
}

.menucup4:hover {
  margin-right: auto;
  position: absolute;
  left: 1000px;
  width: 200px;
  box-shadow: 10px 10px 10px  rgba(12, 73, 17, 0.5);
}

.gift2 {
  background-color: rgb(145, 37, 37);
  border-radius: 0px;
  color: #000000;
  height: 200px;
  padding: 10px 60px;
  position:relative;
  bottom: -90px;
  position: relative;
  bottom: -90px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 15px;
  width: 100%;
  position:relative; top: 100px;
}

.gift2 h2{
  color: #fff;
  line-height:1.6;
  font-size: 2.9em;
  margin-left:100px;
}

.gift2 p{
  color: #fff;
  line-height:1.6;
  font-size: 1.5em;
  margin-left:100px;
}

.gift2 table {
  color: #000000;
  font-size: 1.5em;
  margin-left:450px;
}

caption {
  color: #FFF;
  font-size: 1.5em;
}

/* Подвал подарочные карты */

  .podval2 {
  background-color: #d8d8d8;
  border-radius: 0px;
  height: 270px;
  padding: 10px 60px;
  position:relative;
  margin: 0 auto;
  margin-top: 10%;
  width: 100%;
}

.footnuv1 {
  /* margin-left: 10%; */
  text-align: center;
}

.footnuv2 {
  /* margin-left: 45%; */
  text-align: center;
  top:10px
}

.footnuv3 {
  /* margin-left: 75%; */
  text-align: center
}